/* This Code is For Big Screens "\/" */
@media screen {

    

    /* "this is for doing top in black background" */
    .top{
    text-align: center;
    background-color: black;
}

.top>h1{
    color: white;
}

.tcard{
    display: flex;
    justify-content: space-around;
}

div.tcard>div{
    padding: 50px;
}

.foot{
    display: flex;
    justify-content: space-evenly;
    

}

}